@font-face{
	font-family: oxy;
	src: url(assets/Oxygen-Light.ttf);}
.logo{
	font-family: oxy;
	font-size: 50px;}
.logo2{
	font-family: oxy;
	font-size: 23px;}
.logo3{
	font-family: oxy;
	font-size: 25px;}
.bg-primary{
	background: linear-gradient(to right, #ff0032 0%, #780649 100%);}
.bg-warning{
	background-color: #DC5A02!important;}
.bg-warning a:hover{
	background-color: #FF6700!important;}
body{
	background-image: url("../assets/hmm.jpg");
	background-repeat: no-repeat;
	background-size: 2000px auto;
	background-attachment: fixed;
	font-size: 20px;}
